.container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 300px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align:center;
    background-color: orange;
    transition-duration: 600ms;
    transition-timing-function: ease;
    padding: 8px;
}

.circle.tp-none {
    transition-property: none;
}

.circle.tp-transform {
    transition-property: transform;
}

.circle.tp-color {
    transition-property: background-color;
}

.circle.tp-both {
	transition-property: background-color, transform;
}

.circle:hover {
    transform: scale(1.2);
    background-color: lightgray;
}

.circle2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align:center;
    background-color: green;
    color: white;
    transition-property: transform;
    transition-duration: 600ms;
    transition-timing-function: ease;
    padding: 8px;
}

.circle2.td-instant {
    transition-duration: 0;
}

.circle2.td-fast {
    transition-duration: 200ms;
}

.circle2.td-slow {
    transition-duration: 800ms;
}

.circle2.td-very-slow {
    transition-duration: 5000ms;
}

.circle2:hover {
    transform: scale(0.8);
 }

 .container-wide {
    width: 500px;
    flex-direction: column;
    align-items: center;
}

.rect {
    width: 150px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 4px;

    transition-property: width;
    transition-duration: 1s;
}

 .rect.linear {
    transition-timing-function: linear;
}

.rect.ease {
    transition-timing-function: ease;
}

.rect.ease-in {
    transition-timing-function: ease-in;
}

.rect.ease-out {
    transition-timing-function: ease-out;
}

.rect.ease-in-out {
    transition-timing-function: ease-in-out;
}

.rect.steps {
    transition-timing-function: steps(3);
}

.rect.cubic {
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.rect:hover {
    width: 250px;
}